# JIRA Authentication user
JIRA_USER=""
JIRA_PWD=""
TITLE="Our Online Burndown Chart"

# JIRA Sprint and project field details
SPRINT_ID=1
SPRINT_FIELDNAME="customfield_XXXXX"
POINTS_FIELDNAME="customfield_XXXXX"
JIRA_HOST="https://mycompanyXXXXX.atlassian.net"
NON_WORKING_DATES="['2013-01-01']" 
